.hw-js{
	 background-image: url('../../assets/images/bg.jpg');// пример использования картинок, путь указывается относительно src/index/index.scss, рутового файла стилей
	 h1 {
		text-align: center;
	}
	a{
		display: block;
	}
}


